<%= form_with(model: provider, local: true) do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :provider_title %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner, id: :provider_owner %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :provider_email %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :provider_description %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.number_field :cost, id: :provider_cost %>
  </div>

  <div class="field">
    <%= form.label :vehicle %>
    <%= form.text_field :vehicle, id: :provider_vehicle %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :provider_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :provider_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
