<% if user_signed_in? %>
  <% if current_user.can_edit?(@provider) %>
    <%= link_to 'Edit', edit_provider_path(@provider) %>
  <% end %>
<% end %>

<br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @provider.title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @provider.owner %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @provider.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @provider.cost %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @provider.vehicle %>
</p>

<p>
  <strong>City:</strong>
  <%= @provider.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @provider.state %>
</p>

<br>

<iframe
  width="800"
  height="650"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-d9dGo6Z72Eo-i7QkFQRoYJXwW_LLmb4
    &q=<%= @provider.provider_geocode %>" allowfullscreen>
</iframe>
