<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :service_title %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner, id: :service_owner %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :service_email %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :service_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :service_price %>
  </div>

  <div class="field">
    <%= form.label :integer %>
    <%= form.text_field :integer, id: :service_integer %>
  </div>

  <div class="field">
    <%= form.label :transport %>
    <%= form.text_field :transport, id: :service_transport %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :service_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :service_state %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string, id: :service_string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
