<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @service.owner %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @service.integer %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @service.transport %>
</p>

<p>
  <strong>City:</strong>
  <%= @service.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @service.state %>
</p>

<p>
  <strong>String:</strong>
  <%= @service.string %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
