<p id="notice"><%= notice %></p>
<h2>Users</h2>

<table>
  <thead>
    <tr>
      <td>Image</td>
      <td>Username</td>
      <td>Rating</td>
      <td>Located In</td>
      <td>Payment</td>
      

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.image_url(:thumb) %></td>
        <td><%= user.username %></td>
        <td></td>
        <td><%= user.city %>, <%= user.state %></td>

        <td><%= link_to 'Make payment to user', new_charge_path(user: @user) %></td>
        <td><%= link_to 'Show', user %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Message User', new_message_path %></td>
          <% if current_user.can_delete?(user) %>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
