<p id="notice"><%= notice %></p>
<h2>Details of <%= @user.username %></h2>

<h3>Name</h3>
<%= @user.full_name %>

<h3>Username</h3>
<%= @user.username %>

<h3>Email</h3>
<%= @user.email %>

<h3>About me</h3>
<%= @user.description %>

<h3>User Pic</h3>
<%= image_tag @user.image_url(:medium) %>

<h3>Rating</h3>

<h3>Lives in</h3>
<%= @user.city %>
<%= @user.state %>

<br>

<iframe
  width="800"
  height="650"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-d9dGo6Z72Eo-i7QkFQRoYJXwW_LLmb4
    &q=<%= @user.area %>" allowfullscreen>
</iframe>
