<p id="notice"><%= notice %></p>

<h2>Requests</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Owner</th>
      <th>Email</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Size</th>
      <th>Urgency</th>
      <th>From address</th>
      <th>From city</th>
      <th>From state</th>
      <th>To address</th>
      <th>To city</th>
      <th>To state</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.title %></td>
        <td><%= request.owner %></td>
        <td><%= request.email %></td>
        <td><%= request.description %></td>
        <td><%= request.cost %></td>
        <td><%= request.size %></td>
        <td><%= request.urgency %></td>
        <td><%= request.from_address %></td>
        <td><%= request.from_city %></td>
        <td><%= request.from_state %></td>
        <td><%= request.to_address %></td>
        <td><%= request.to_city %></td>
        <td><%= request.to_state %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
