<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @request.title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @request.owner %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @request.cost %>
</p>

<p>
  <strong>Size:</strong>
  <%= @request.size %>
</p>

<p>
  <strong>Urgency:</strong>
  <%= @request.urgency %>
</p>

<p>
  <strong>From address:</strong>
  <%= @request.from_address %>
</p>

<p>
  <strong>From city:</strong>
  <%= @request.from_city %>
</p>

<p>
  <strong>From state:</strong>
  <%= @request.from_state %>
</p>

<p>
  <strong>To address:</strong>
  <%= @request.to_address %>
</p>

<p>
  <strong>To city:</strong>
  <%= @request.to_city %>
</p>

<p>
  <strong>To state:</strong>
  <%= @request.to_state %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
