
<% if current_user.can_edit?(@request) %>
  <%= link_to 'Edit', edit_request_path(@request) %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @request.title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @request.owner %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @request.cost %>
</p>

<p>
  <strong>Size:</strong>
  <%= @request.size %>
</p>

<p>
  <strong>Urgency:</strong>
  <%= @request.urgency %>
</p>

<h2>Pickup Address</h2>

<p>
  <strong>From address:</strong>
  <%= @request.from_address %>
</p>

<p>
  <strong>From city:</strong>
  <%= @request.from_city %>
</p>

<p>
  <strong>From state:</strong>
  <%= @request.from_state %>
</p>

<h2>Dropoff Address</h2>

<p>
  <strong>To address:</strong>
  <%= @request.to_address %>
</p>

<p>
  <strong>To city:</strong>
  <%= @request.to_city %>
</p>

<p>
  <strong>To state:</strong>
  <%= @request.to_state %>
</p>

<iframe
  width="800"
  height="650"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyA1saKjb3iqgj5nsID_pSspZgfXPZB7L5c
  &origin=<%= @request.full_street_address %>
  &destination=<%= @request.destination %>" allowfullscreen>
</iframe>
